#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: black;
}

.header {
  border:5px solid brown;
  border-radius: 10px;
  background-color: bisque;
  color: brown;
  margin: 5px;
}

.NavBar {
  border:5px solid brown;
  border-radius: 10px;
  background-color: bisque;
  margin: 5px;
  display: grid;
  color:brown
}

.Nav ul{
  list-style: none;
  margin: 0 2px;
  padding: 0  
}

.Nav li {
  display: inline-block;
  padding: 5px 5px;
}

.LinkText{
  color:brown;
  text-decoration: underline;
}

.ArticleList{
  border:5px solid brown;
  border-radius: 10px;
  position: relative;
  margin: 5px;
  padding: 2rem;
  background-color:bisque;
}

.Button{
  border:5px solid brown;
  border-radius: 10px;
  margin: 0 auto;
  padding: 2rem;
  background-color: bisque;
  color: brown;
}

.Article{
  position: relative;
  margin: 0 auto;
  padding: 2rem;
  background-color:bisque;
  color: brown;
  font-weight: 640;
}

.CommentList{
  border:5px solid brown;
  border-radius: 10px;
  position: relative;
  margin: 5px;
  padding: 2rem;
  background-color:bisque;
}

.Comment{
  position: relative;
  margin: 0 auto;
  padding: 2rem;
  background-color:bisque;
  color: brown;
  font-weight: 640;
}

.InternalButton{
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  background-color: brown;
  color: bisque;
  font-size: 20px;

}

.WaitingForInfo{
  border:5px solid brown;
  border-radius: 10px;
  position: relative;
  margin: 0 auto;
  padding: 2rem;
  background-color:bisque;
  color:brown
}

.CommentAdder{
  border:5px solid brown;
  border-radius: 10px;
  margin: 5px;;
  padding: 2rem;
  background-color:bisque;
  color:brown;
  text-align: center;
  font-size:larger
}

.LabelText {
  background-color:bisque;
  border:5px solid brown;
  border-radius: 10px;
  color:brown;
  font-size: larger;
}

.UserCard{
  color: brown;
  border:5px solid brown;
  border-radius: 10px;
  background-color: bisque;
}

.UserList{
  position: relative;
  margin: 5px;
  padding: 2rem;
  background-color:bisque;
  list-style-type: none;
}

